<div class="row mt-3" *ngIf="pessoasResult != null">
  <div class="col-sm-12 mt-2">
    <div class="card">
      <div class="card-header">
        <span class="pull-left"><i class="fa fa-list-alt fa-fw"></i> Pessoas</span>
      </div>
      <div class="card-body pt-0 pb-0">
        <table *ngIf="pessoas?.length; else semResultado" class="table table-sm table-striped table-hover mb-1">
          <thead>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col"></th>
          </thead>
          <tbody>
            <tr *ngFor="let p of pessoas">
              <td scope="row">
                {{p.id}}
              </td>
              <td>
                {{p.nome}}
              </td>
              <td>
                {{p.cpf}}
              </td>
              <td>
                {{p.dataNascimento}}
              </td>
              <td align="right">
                <div class="btn-group">
                  <button class="btn btn-outline-primary" title="Alterar {{p.nome}}" name="btnAlt" type="button" (click)="alterar(p)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-outline-danger" title="Excluir {{p.nome}}" name="btnExc" type="button" (click)="excluirConfirm(p)" >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #semResultado>
          <div class="container m-2">
            <div class="form-row ">
              <div class="col text-center text-muted">Nenhuma pessoa encontrada</div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="card-footer" *ngIf="pessoas?.length">
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-outline-primary" title="Cadastrar nova pessoa" name="btnCad" type="button" (click)="incluir()">
              <i class="fa fa-pencil"></i>
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
